/*Styles for my Resume*/

BODY {

  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;

}
/*my name*/
#name {
  font-size: 3em;
  text-transform: uppercase;
  text-align:center;
  color: #33485e;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;

}
/*title*/
strong {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;

}
/*subject lines*/
.sectionheader {
font-size: 1.5em;
text-transform: uppercase;
background-color: #33485e;
color: #fff;
font-weight: 400px;

}
/*job titles*/
h3 {
  font-weight: 300;
  font-size: 1.5em;
}
/*employer*/
h4 {
  font-weight: 400;
  font-size: 1.5em;
}
/*dates*/
h5{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}
/*lists*/
li {
  font-size: 1em;
}
