#story {
align: center;

}

#byline {

  font-family: Georgia; serif;
  font-size: 15px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
}

h1 {
  font-family: Georgia, serif;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

h2 {
font-family: Georgia, serif;
text-align: center;
font-size: 1.5em;
font-style: italic;
text-decoration: underline;
}

h3{
font-family: Georgia, serif;
text-align: center;
font-size: 1.5em;
font-style: italic;

}



p {
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
}

/*This is the masthead of the page, and includes the "Sportsperson of the Year" title with a picture of Megan Rapinoe.*/
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%

}

#image1 {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 70%;

}


#image2 {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
  margin-bottom: 30px;
  font-family: Georgia, serif;
  font-size: 13px;
  font-style: bold;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 70%;
}
#image3 {
    display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia, serif;
    font-size: 13px;
    font-style: bold;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 30%;
  }
  #image4 {
      display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 30px;
      margin-bottom: 30px;
      font-family: Georgia, serif;
      font-size: 13px;
      font-style: bold;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      width: 30%;
    }

    #image5 {
        display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: 30px;
        margin-bottom: 30px;

        width: 70%;
      }

h5 {
      font-family: Georgia, serif;
      text-align: center;
      font-size: 1em;


    }


h4 {

      font-family: Georgia, serif;
      font-size: 1.5em;
      font-style: italic;
      text-align: center;
      text-decoration: underline;
    }


  blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    font-style: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: #ff0000;
  }

  ul {
    text-align: center;
    list-style-position: inside;
}
